﻿@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>@hostingEnv.EnvironmentName</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <a href="https://gitlab.com/Die_Seekuh/hotelmanagement/-/commits/develop">
        Develop: <img alt="pipeline status" src="https://gitlab.com/Die_Seekuh/hotelmanagement/badges/develop/pipeline.svg" />
    </a>
    <a href="https://gitlab.com/Die_Seekuh/hotelmanagement/-/commits/master">
        Master: <img alt="pipeline status" src="https://gitlab.com/Die_Seekuh/hotelmanagement/badges/master/pipeline.svg" />
    </a>
</div>
